<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>

<body>
    <h1>Pokemon Collection</h1>
    <nav>
        <a href="/pokemon/add/new"><button>Add Pokemon</button></a>
    </nav>
    <article>
        <% for(let i = 0; i < allPokemon.length; i++) { %>
            <div class="noBullet">
                <h2>
                    <%= allPokemon[i].name %>
                </h2>
                <a href="/pokemon/<%=i%>">
                    <% if (allPokemon[i].img === undefined){ %>
                            NO IMAGE AVAILABLE
                   <% } %>
                    <img src="<%=allPokemon[i].img %>" />
                </a>
            </div>
        <% } %>
    </article>
        
    
</body>
</html>