<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <main>
      <div>
        <form action="/pokemon" method="POST">
            <fieldset>
                <legend>Collect a New Pokemon</legend>
                <label>
                    NAME:<input
                    type="text"
                    name="name"
                    placeholder="enter pokemon name"
                    />
                </label>
                <br>
                <label>
                    TYPE:<input
                    type="text"
                    name="type"
                    placeholder="enter pokemon type"
                    />
                </label>
                <br>
                <label>
                    STATS:
                    <% for (const [key, value] of Object.entries(stats)) { %>
                        <li> 
                            <%= key %>:    
                            <input
                            type="text"
                            name="<%= key %>"
                            placeholder="enter pokemon stats"
                            />
                        </li>
                     <% } %>
                    
                    
                  
                </label>
            </fieldset>
            <input type="submit" value="Add New Pokemon"/>

        </form>


      </div>
    </main>
    
</body>
</html>