* {
    background-color: lightcyan;
}

button {
    background-color: white;
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Changa', sans-serif;
}

* {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Changa', sans-serif;
}

.noBullet {
    list-style: none;
}